<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header-delete.html"}}
  <main class="sheet-body">
    <div class="tab active" data-group="primary" data-tab="summary">
      <div class="form-group">
        <label class="check-container"
          >{{localize "SWADE.MajHind"}}
          <input
            type="checkbox"
            name="data.major"
            {{checked
            item.data.major}}
            data-dtype="Boolean"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      {{> "systems/swade/templates/setting-fields.html"}} {{>
      "systems/swade/templates/items/partials/description.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="actions-effects">
      <header class="header-field flexrow">
        <span style="flex: 1;">{{localize "SWADE.Effects"}}</span>
        <a class="header-field-add add-effect" data-transfer="true">
          <i class="fa fa-plus"></i>
        </a>
      </header>
      {{> "systems/swade/templates/effect-list.html"}}
      <br />
    </div>
  </main>
</form>
